## Programming I - Intro to Python

This notebook includes a series of exercises to introduce you to the basics of programming in Python.  You'll learn, in general terms, about data types in Python, and how to make basic manipulations of these data types.  

Python combines simplicity of syntax with relative computational power, which makes it an attractive language of choice for many programmers.  The classic introductory programming problem is how to get a language to return the phrase, "Hello world."  In the Java language, for example, it looks something like this: 

```java
public class HelloWorld {

    public static void main(String[] args) {
        System.out.println("Hello, World");
    }

}
```

Compare that with Python:

In [ ]:
print("Hello, World")

Hello, World

Much simpler!  Now, Python is not always going to be your language of choice for every application.  Python is an example of an _interpreted_ programming language, which means that it is converted on-the-fly to machine code - that is, code your computer can understand.  This can make development simpler, but generally executes slower than _compiled_ languages, in which the source code must be run through a compiler before it is executed.  This additional step, however, can speed up execution substantially, which is why compiled languages like Java, C, or C++ are sometimes preferred for software development.  

However, Python is an outstanding choice for data analysis, which is highly interactive and requires the testing of many different ideas on-the-fly.  Indeed, the Python community has built a robust infrastructure for data analysis with the language, which includes the Jupyter Notebook, which we are working in right now.  

The Jupyter Notebook is an example of _literate programming_, in which documentation and computer code are tightly integrated.  The notebook itself is comprised of "cells" that either accept Python code, or text written in __Markdown__, a highly-simplified syntax for writing HTML code.  To choose a Python or Markdown cell, simply change the option from the drop-down menu at the top of the screen.  To "run" the contents of your cell, click the "run cell" button from the menu at the top of the screen, or use the keyboard shortcut Shift+Enter.  

Tools like the Jupyter Notebook are an excellent way to document your workflow, and make your work reproducible.  Over the course of a data analysis, it is often challenging to remember every small step you have taken, or the rationale behind those steps.  With the notebook, you can include descriptions of your workflow along with the actual code you used to do your data analysis.

## Python basics

You already saw how to print text using Python using the `print` command.  Now, I'm going to take you through a few of Python's basic data structures.  At its most basic level, Python can function like a calculator.  For example, I can type in a simple calculation...

In [ ]:
2 + 2

4

...and I get 4.  Try it out yourself!

In [ ]:
## Type in a calculation below and run it!
3 + 3
# By the way: this is an example of a comment.  Comments in Python are preceded by the hashtag (#) operator.  All text that follows
# the hashtag will be bypassed at runtime - so this is a good way to make notes about your code, or to "comment out" code that you want 
# to keep, but don't want to run.

6

In addition, Python can work with _strings_, which are textual representations of data.  Strings are enclosed in single quotes `' '` or double quotes `" "`.  Like numbers, strings can be "added" together; however, instead of performing a numeric computation, Python will _concatenate_ the strings, combining them.  Take the following example:

In [ ]:
"a" + "b"

'ab'

Now, let's see what happens when we try to combine a string and a number:

In [ ]:
"a" + 4

TypeError: Can't convert 'int' object to str implicitly

We get an error message back - 'str' and 'int' objects cannot be concatenated, as they are different data types.  However, we can convert between different data types by **converting** our objects.  For example, the `str` command converts to a string, the `int` command converts to an integer, and the `float` command converts to a floating-point number, if possible.  Let's try it out:

In [ ]:
"a" + str(4)

'a4'

## Variables

You now have a very basic sense of how Python works.  To this point, every cell that we've run has directly accepted content.  However, in  your work with Python, you are going to want to store information that you'll need to come back to later, or re-use certain objects in your code.  As such, you will want to work with __variables__.  

Variables are Python objects that represent some other thing.  They can be just about any Python data type (more on these data types later) and are defined through __assignment__ with the equals (=) operator.  Let's give it a try:

In [ ]:
x = 4

print(x)

4

In the above cell, I __assigned__ the integer 4 to the variable x.  When I asked Python to print the variable x, it returns the integer 4, which is what is represented by x.  

If you've programmed in other languages before, you probably noticed that I didn't have to declare the type of my variable when creating it.  Python is an example of a __dynamically typed__ language, which means that the types of objects are mutable (can change) and do not need to be declared.  Instead, Python detects the type of the object based on the assignment I made.  Let's check it out with the `type` command.

In [ ]:
type(x)

int

Python knows that x is an `int` (integer) as I assigned an integer, 4, to x.  Other languages, like Java, are known as __statically typed__ programming languages, as object types need to be declared.  For example, assignment in a statically typed language might look like this: 

```java
int x = 4;
```

In my opinion, the dynamic typing of Python makes it well-suited for the exploratory nature of data analysis.  

As my variable __x__ is an integer, I can perform mathematical operations with it.  For example, I can multiply it by two with the \* operator, or raise it to the second power with the \** operator:

In [ ]:
x * 2

8

In [ ]:
x ** 2

16

In [ ]:
# Now you try!  Write an expression that adds 5 to x, then divides the result by 2.  What do you get?

Variable types can also be converted to other types through __conversion__, like I showed your earlier.  Conversion operators in Python include `int` (integer), `long` (long integer), `float` (floating-point number), and `str` (string/text).  

Let's give it a try.  In the space below, we'll create a new variable __y__ by converting your variable __x__ to a string.  Then, we'll type __y__ and run the code to see what we get.

In [ ]:
y = str(x)

y

'4'

We see a '4' returned in quotations -- this means that your variable y stores the value 4, but in string rather than number format. As such, we cannot do math with our new variable...

In [ ]:
y + 12

TypeError: Can't convert 'int' object to str implicitly

In [ ]:
print("OMG I heart U " + y + "ever!!!111")

OMG I heart U 4ever!!!111

Now, try it out yourself!  Create a new variable, __z__, by converting __y__ to a floating-point number, and then divide __z__ by 3.  What do you get?

In [ ]:
### Run your code here!

## Lists

You should have a sense to this point of the flexibility of variable assignment in Python.  However, to this point we've only been working with variables that store one value - and you'll be working a lot with multiple values in Python.  

The most common data structure for multiple values in Python is the __list__.  Lists are enclosed in brackets [], and can contain a series of values, objects, variables, etc.  Objects in a list need not be of the same type; however, keeping the types within lists consistent will maximize what you can do with them.  

Let's take a look at a sample list of numbers, and assign it to the variable __mylist__.

In [ ]:
mylist = [2, 4, 6, 8, 10, 12]

print(mylist)

[2, 4, 6, 8, 10, 12]

To retrieve specific elements within my list, I can use __indexing__.  Indexing is a common operation in Python to subset your data - this will be very important for you when working with datasets later on.  Indices are similarly enclosed in brackets.  In Python, the index starts at zero; as such, 0 returns the first element, 1 the second element, and so on.  Let's try it:

In [ ]:
## This should give me the second element of my list, 4. 

mylist[1]

4

Chunks of your list can also be retrieved through __slicing__.  To slice a list, index with the first element you want, followed by a colon : operator, then the index of the first element you __do not want__.  For example, let's retrieve the second through fourth elements of `mylist`, which should give us back 4, 6, and 8.

In [ ]:
mylist[1:4]

[4, 6, 8]

You can also add other lists to your lists.  Let's try it:

In [ ]:
mylist + [14, 16]

[2, 4, 6, 8, 10, 12, 14, 16]

This can also be achieved with the `append` command, which will modify the existing list.

In [ ]:
mylist.append(18)

mylist

['a, b, c, d, e', 18]

Notice that the `append` command shows up as a property of your list - that is, a method you can use to modify it.  In the Jupyter Notebook, you can get a list of possible methods for your list by pressing Tab after typing a period after your list's name.  Try it out:

In [ ]:
# Press "Tab" after the period to see what I'm talking about!  
# Be sure that you've run the above cell defining mylist beforehand.

mylist.

Notice a series of methods available to you to manipulate the contents of your list.  You can read more about the different list methods [here](https://docs.python.org/3.4/tutorial/datastructures.html).  

Let's try a couple:

In [ ]:
mylist.reverse()

mylist

[18, 12, 10, 8, 6, 4, 2]

In [ ]:
mylist.extend([22, 44])

mylist

[18, 12, 10, 8, 6, 4, 2, 22, 44]

In [ ]:
mylist.insert(5, 99) # The insert command here will place, at index 5, the number 99

mylist

[18, 12, 10, 8, 6, 99, 4, 2, 22, 44]

Now, try working with a list of your own!  Do the following: 

1. Create a list of four numbers - one through four - and assign it to a variable.  
2. Index the list to return only 3 and 4
3. Add a second list of 5, 6, and 7 to your list
4. Insert the number 12 at position 3 of your list

In [ ]:
## Run your code here!

## Strings

Strings, or textual representations of data, have a series of special methods that allow for their manipulation.  In the Jupyter Notebook, these methods are available by pressing the Tab key after typing a period after the variable that stores the string.  Let's test it out.

In [ ]:
tcu = "Texas Christian University"

In [ ]:
# Place your cursor after the period, and press the tab key to view the methods
# Be sure that you've run the previous cell first!

tcu.

Notice all the different methods available to you; [you can view them in detail here](https://docs.python.org/3/library/stdtypes.html#string-methods).  In the IPython notebook, you can also see the parameters of the different methods by typing Shift + Tab after typing the first parenthesis.  Let's try a few.

In [ ]:
tcu1 = tcu.swapcase()

tcu1

'tEXAS cHRISTIAN uNIVERSITY'

In [ ]:
tcu2 = tcu.replace('Christian', 'Construction')

tcu2

'Texas Construction University'

In [ ]:
tcu3 = tcu.upper()

tcu3

'TEXAS CHRISTIAN UNIVERSITY'

In [ ]:
## Here, we are retrieving the second word of the string (indexed at 1) with the 'split' command.  

tcu4 = tcu.split()[1]

tcu4

'Christian'

Like lists, strings can also be indexed or sliced; in this instance, the index refers to the different characters in the string.

In [ ]:
tcu[0:5]

'Texas'

## Exercises

__Exercise 1__: Create a new cell below with the "Insert Cell Below" option.  Change the cell type to __Markdown__ from the drop-down menu at the top of the screen.  Practice writing some Markdown in the cell.  The cell should include a numbered list of links to your five favorite websites, with an H2 header for the title.  The links should not simply be the website URLs, but should instead show the name of the website, which you can click to get to the website.  Also, make the name of the first entry in bold, and the name of the second entry in italics.

For Markdown tips, take a look at [the Markdown cheatsheet at this link](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet).  _Also, a tip_: you can view how I wrote Markdown in any of the cells in this notebook by double-clicking the cells!

## My favorite websites

1. __[ESPN](http://ESPN.com)__
2. _[Facebook](http://Facebook.com)_
3. [Amazon](http://Amazon.com)
4. [Pandora](http://Pandora.com)
5. [CNN](http://CNN.com)

__Exercise 2__: Assign the number 31 to a new variable, `q`.  Write an expression that raises q to the 4th power and run the cell.

In [7]:
q = 31

In [8]:
q**4

923521

__Exercise 3__: Create a new variable, `smu`, and assign the lowercase string 'southern methodist university' to it.  Use Python string methods to capitalize your string appropriately.  Add a comment in your code that explains what you did.

In [9]:
smu = "southern methodist university"

In [10]:
smu.title()

'Southern Methodist University'

In [11]:
I used the tab key to change my variable, smu, to title case.

SyntaxError: ignored

__Exercise 4__: Assign the list `['a', 'b', 'c', 'd', 'e']` to a variable.  Reverse the list, then insert 'z' at index 3, and finally append 'o' to the end.

In [ ]:
mylist = ["a","b","c", "d", "e"]

In [ ]:
mylist

In [ ]:
mylist.reverse()
mylist

In [ ]:
mylist.insert(3, "z")
mylist

In [ ]:
mylist.append(18)
mylist

__Exercise 5__: (Modified from your textbook): A string slice can use an optional third index to specify the 'step size', which refers to the number of spaces between characters.  Your textbook gives the following example:

In [ ]:
fruit = 'banana'

fruit[0:5:2]

The same result could be achieved, however, by omitting the 5, as the above example uses the whole string:

In [ ]:
fruit[0::2]

In the cell below, I will provide you with a string of characters that may appear quite random at first.  Run the cell to assign the string to the variable `code`.  However, the string is in reality an encoded message, in which the character to keep is at __every fourth character__.

Use Python string slicing to decode the message, and print the result to your notebook.  The result is a familar expression, so if you are not getting a result that makes sense, try again! 

__Hint__: remember rules about Python indexing, which starts at 0, not 1!

In [ ]:
code = 'varCjjlopaxntrrgnbXrOPraiiItUuUuzaQlliyaxx*t#rgiffFoce&ntPls87C!'

In [ ]:
code[3::4]

In [ ]:
code

In [ ]:
code[3::4]